:host(){
--yellow:#f9ba49;
--dark-blue:#0c2451;
--font-16:16px;
--font-24:24px;
--font-12:12px;
}

.custom-icon{
    --slds-c-icon-color-foreground-default:var(--yellow);
    --slds-c-icon-color-background:var(--yellow);
    --slds-c-icon-color-foreground:var(--dark-blue);
     transform: rotate(45deg);
}

.currency-app{
 background:url(/sfsites/c/resource/currencyConverterAssets/currencyConverterAssets/currencyAppBackground.png);
 background-size:cover;
 background-image: no-repeat;
 min-height: 100vh;
 }

.container{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding:var(--font-16);
}


.custom-card{
    min-width: 370px;
    max-width: 520px;
    border-radius: 25px;
    background: var(--dark-blue);
    padding:var(--font-16);
}

.custom-button, .custom-button:hover, .custom-button:active{
    background:var(--yellow); 
    color: var(--dark-blue);
    padding: var(--font-12);
    font-size: var(--font-24);
    margin-top: var(--font-12);
}

.baseline{
    align-items: baseline;
}

img{
    display: block;
    margin: auto;
}

.result{
font-size:24px;
margin-bottom:24px;
font-weight:bold;
color:#1b96ff;

}

.result-to{
    color:#fb8500;
}