:host(){
    --dark-blue:#243356;
    --white:#ffffff;
    --yellow:#ffcd0a;
    --light-blue:#00D9FE;
    --size-16:16px;
    --size-14:14px;
    }
    

    .custom-label{
        color:var(--light-blue)
    }
    
    .custom-select{
        color:var(--dark-blue)
    }